.main {
	width: 100%;
}
.main > .superior {
	min-height: 400px;
	color: white;
	padding: 0 10%;
	background: black;
}
.main > .superior > .quote {
	color: white;
	letter-spacing: 0.05em;
	text-shadow: var(--textshadow);
	width: 50%;
	padding-top: 20px;
	margin-bottom: 200px;
}
.main > .superior > .quote > p {
	font-size: 1.3em;
	line-height: 1.4em;
	margin-bottom: 30px;
}
.main > .superior > .quote > strong {
	font-size: 1.1em;
}
.main > .superior > .hora > .superior {
	display: flex;
	align-items: center;
}
.main > .superior > .hora > .superior > img {
	width: 25px;
	margin-right: 10px;
}
.main > .superior > .hora > .superior > p {
	text-shadow:  var(--textshadow);
	margin: 0;
	text-transform: uppercase;
}
.main > .superior > .hora > .inferior > p {
	font-size: 13em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.main > .superior > .hora > .inferior > p > span {
	font-size: .4em;
	font-weight: 200;
}



.main > .inferior {
	background: rgb(240,240,240);
	background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
	color: black;
}